.main-header {
	padding: 40px 0 20px;
	/*background-color: red;*/
	/*color: #fff;*/
}

.main-content {
	padding: 20px 0 10px;
	height: 400px;
	/*background-color: blue;*/
	/*color: #fff;*/
}

	.artwork {
		margin-bottom: 20px;
	}